html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
@font-face {
  src: url(fonts/shallota.ttf);
  font-family: shallota;
}
@font-face {
  src: url(fonts/univers-light.ttf);
  font-family: univers;
}
@font-face {
  
  src: url(fonts/Nimbus-Sans-D-OT-Light_32752.ttf);
  font-family: nimbus;
}
:root {
  --subtitle-font-size:  font-size: 13px;
  --subtitle-fam-font: font-family: univers;
  --subtitle-text-align: text-align: center;
  --subtitle-font-weight: font-weight: 200;;
}


.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body {
  margin: 0%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  flex-direction: column;
}

#bgvideo {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
a {
  text-decoration: none;
}

.container-fluid {
  text-align: center;
  flex-direction: row;
  box-sizing: border-box;
}
.container-fluid-content {
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding-top: 10%;
}
.cv-container {
  max-width: 70%;
  
}
.container {
  padding-left: 0px;
  padding-right: 0px;
  
}
.logo{
  font-family: shallota;
  font-size: 60px;
  line-height: 50px;
  margin-bottom: 0px;
}
nav {
  padding: 25px 0px;
  width: 100%;
  height: auto;
  background: transparent;
  border-bottom: thin solid;

}
nav ul {
margin: 0;
padding:0;
}
nav li {
  display: inline;
  line-height: 35px;
  font-size: 18px;
  font-weight: 150;
  font-family: univers;
}
.about-link{
  padding-right: 0;
}
.professional {
  line-height: 35px;
  font-size: 18px;
  font-weight: 200;
  font-family: univers;
  width: 300px;
  text-align: center;
}
nav a {
  text-decoration: none;
  padding-left: 40px;
  padding-right: 40px;
  color: black;
  transition: all 100ms ease-in-out;
}
nav a:hover {
  color: #EFE4FF;
}
footer {
  border-top: thin solid;
  width: 100%;
  text-align: center;
  bottom: 0px;
}
  footer a {
  text-decoration: none;
  color: black;
  font-family: univers;
font-weight: 200;
}
footer li {
  justify-content: space-between;
  display: inline;
}
.footer {
  margin-top: auto;
  flex-shrink: 0;
  position: absolute;
  bottom: 35px;
  
}

.projects {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
.project {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.project:hover {
  mix-blend-mode: multiply;
}

.row {
  margin-top: 20px;
  width: 100%;
  align-items: center;
  height: fit-content;
}
.col {
  width: min-content;
}
h1 {
  text-align: center;
  font-family: shallota;
  font-size: 100px;
  height: 30px;
  line-height: 0.2;
  margin-left: 15px;
  margin-right: 15px;
}
.subtitle {
  font-size: var(--subtitle-font-size);
 font-family: var(--subtitle-fam-font);
  text-align: var(--subtitle-text-align);
  font-weight: var(--subtitle-font-weight);
  position: relative;
  margin: 0;
  bottom: -24px;
  z-index: -1;
}
.project-title {
  padding-top: 50px;;
}
.main-project-title {
  height: 28px;
  text-align: center;
  padding-top: 0;
}

.project-subtitle{
  font-size: 10px;
  line-height: 30px;
 font-family: var(--subtitle-fam-font);
  text-align: var(--subtitle-text-align);
  font-weight: var(--subtitle-font-weight);
}
.content {
  text-align: start;
  padding-top: 85px;
  padding-left: 50px;
  padding-bottom: 85px;
  padding-right: 20px;
}

p, h4{
  font-family: univers;
}
p {
  font-size: 14px;
  font-family: univers;
}
#highlight {
  color: blue;
}
.comment {
  border-width: thin;
}
.process-silence{
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
}
 .technicals {
max-height: 280px;
width: auto;
padding-top: 60px;
}
.levels-noisy {
  position: absolute;
  left: 13%;
}
.levels-silent{
  right: 13%;
  position: absolute;
}
.levels {
  transform: rotate(-90deg);
  z-index: -1;
  position:absolute;
  left: 9.5%;
  font-size: 10px;
}

.about-description {
  font-size: 13px;
  padding-top: 50px;
}

.vertical-center {
  /* Fallback for browsers do NOT support vh unit */
  min-height: 85vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.silence-image-container {
box-sizing: border-box;
padding: 0%;
}

.images-menu {
  position: absolute;
  text-align: center;
  display: none;
  top: 50%;
  left: 50%;
  bottom: -200px;
  transform: translate(-50%, -50%);
  max-height: 350px;
  width: auto;
  box-shadow: 0 5px 15px rgba(40, 39, 39, 0.5);
  z-index: -2;
}

#profile-img {
  max-width: 300px;
  height: auto;
}
.profession p {
  text-align: left;
  font-family: univers;
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 0px;
}
.profession h6 {
  text-align: left;
  font-family: univers;
}

.title-profession {
  text-align: left;
  font-family: shallota;
  font-size: 30px;
}
.dates {
  align-self: flex-start;
  text-align: right;
 padding-top: 0.4rem;
  align-items: right;
  font-size: 14px;
  justify-content: end;
  padding-right: 0px;
}
.section-profession{
  padding-top: 13%;
  padding-left: 0%;
  padding-right: 0%;
}
.profession .city {
  font-size: 13px;
}

@media (max-width: 500px) {
  #bgvideo{
  width: 100vw;
  height: 100vh;
  }
  .container{
    padding: 0;
  }
  .logo {
    font-size: 60px;
    line-height: 40px;
    text-align: start;
    padding-left: 12px;
  }
  nav li{
    font-size: 18px;
    line-height: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-90deg);
  }
  .about {
    transform: translateY(10%);
  transform: rotate(-90deg);
  }

  .work {
  transform: translateY(50%);
  transform: rotate(-90deg);
  }
  nav {
    border-bottom: none;
  }
  .professional {
    font-size: 18px;
    position: absolute;
  top: 30%;
  transform: translateY(-50%);
  transform: rotate(-90deg);
  right: 310px;
    left: -20px;
    margin-bottom: 0px;
    height: 200px;
    width: 270px;
  }
  footer {
    bottom:0px;
  }
  footer a {
    font-size: 14px;
  }
  .titles {
    padding-top: 20px;;
  }
  .project-title{
    padding-top: 0;
  }
  .project-subtitle{
    line-height: 0.2px;
  }
  .technicals{
    max-height: 200px;
  }
  .content{
    padding-top: 30px;
    padding-right: 0px;
  }
  p, h4 {
    text-align: center;
  }
  p, .about-description {
    font-size: 13px;
  }
  h4 {
    font-size: 15px;
  }
 .profession p {
  font-size: 18px;}
 .title-profession {
  font-size: 25px;}
 }
 .profession h6 {
  font-size: 16;
 }

@media (max-width: 768px) {
  .images-menu {
    display: none;
  }
  h1 {
    height: 2px;
    line-height: 0.5;
  }

  #profile-img {
    max-width: 210px;
  }
  #principal-project-visuals {
  width: 100%;
  height:auto;
}
.content {
    text-align: left;
    padding-left: 0px;
  }


}
