html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
@font-face {
  src: url(fonts/shallota.ttf);
  font-family: shallota;
  src: url(fonts/univers-light.ttf);
  font-family: univers;
}
@font-face {
  src: url(fonts/univers-light.ttf);
  font-family: univers;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body {
  margin: 0%;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  position: relative;
  background: transparent;
  justify-content: space-between;
  border-bottom: 1px solid;
}
a {
  text-decoration: none;
}

.container-fluid {
  max-height: 80px;
}
.nav-logo {
  font-family: shallota;
  font-size: 65px;
  color: rgb(4, 6, 8);
  text-decoration: none;
  max-height: 80px;
}
.nav-items {
  list-style-type: none;
  margin: 0;
}
.nav-links {
  padding: 1.3rem 1rem;
  font-size: 20px;
  color: rgb(4, 6, 8);
  text-decoration: none;
  font-family: univers;
  font-weight: 200;
  justify-content: flex-end;
}
.navbar-nav {
  justify-content: flex-end;
}
.nav-links a:hover {
  color: #cccccc;
}
.custom-toggler {
  border-color: black;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.projects {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px;
}
.project {
  text-decoration: none;
  color: rgb(4, 6, 8);
}
.project:hover {
  color: #ede4ff;
}
container {
  text-align: center;
}
.row {
  margin-top: 20px;
  width: auto;
  align-items: center;
}
h1 {
  text-align: center;
  font-family: shallota;
  font-size: 100px;
}
.vertical-center {
  /* Fallback for browsers do NOT support vh unit */
  min-height: 85vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.frozen-overlay {
  position: absolute;
  justify-content: center;
  z-index: -1;
  max-height: 400px;
  width: auto;
  opacity: 0.5;
}

.frozen:hover .frozen-overlay {
  opacity: 1;
}
